:host {
  display: block;
  min-height: 100%;
}

table th {
  border-bottom: 2px solid transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.dark ::webkit-scrollbar-thumb {
  background: #1e293b;
}
